.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3a4040;
    width: 100%;
    top: 0;
    padding: 8px;
}

.header__left {
    display: flex;
    align-items: center;
    color: white !important;
    cursor: pointer;
}

.header__center {
    display: flex;
    justify-content: space-between;
}

.header__center > p {
    color: white;
    padding-left: 12px;
    cursor: pointer;
}

.header__right {
    display: flex;
}

.header__right > p {
    color: white;
    padding-left: 12px;
    cursor: pointer;
}
